article.rule
  .content
    h2: a(name="be-respectful", href="#be-respectful")
      | Уважайте собеседника
    p
      | Уважайте чужое время ровно как и свое.
      | Общайтесь так, как хотели бы, чтобы с вами общались.
    p
      | Помогите собеседнику понять вас и решить свои задачи.
      | Если каждый ваш собеседник будет соблюдать это правило, работать станет намного проще,
      | но изменения начинаются с вас.
    p
      | Будьте вежливы, спокойны, дружелюбны.
      | Избегайте сарказма, язвительности, обвинений и других проявлений токсичности.
      | Это усложнит взаимодействие и сделает общение не эффективным.
    p
      | Уважение - главное правило общения.

  +sample()
