article
  h2: a(name="business-texting", href="#business-texting")
    | Деловая переписка
  ul.tile-list
    li.text
      | Используйте настоящие имя, фамилию, фото и опишите, чем вы занимаетесь.
      | Вашим собеседники не должны гадать кто вы и чем занимаетесь.
    li.text
      | Отправляя сообщение убедитесь, что вы отправляете его по назначению.
      |  Нередки ситуации, когда сообщение отправляется по ошибке не тому собеседнику.
    li.text
      | Выбирайте чат, соответствующий вашей потребности. Не пишите важные вопросы в общий чат.
    li.text
      | Дублируйте важные рабочие моменты разговоров с коллегами в соответствующий чат.
      |  Так они не потеряются и другие коллеги будут в курсе.
    li.text
      | Отправляя Email всегда указывайте тему, четко отражающую назначение письма.
    li.text
      | По возможности, избегайте использования множества различных мессенджеров для деловой
      | переписки с разными людьми.
    li.text
      | Не звоните без предупреждения, если дело не срочное.
      | Ваш собеседник может быть не готов ответить ответить мгновенно, но звонок отвлекает.
    li.text
      | Избегайте использования личных переписок по вопросам, касающимся группы людей.
    li.text
      | Используйте понятные имена и описания для групповых переписок.
    li.text
      | Избегайте удаления сообщений. Это делает переписку запутанной.
      | Исключение составляют сообщения отправленные по ошибке и сообщения с чувствительными данными.
    li.text
      | Избегайте значительного изменения смысла отправленного сообщения. Изменения может быть сложно
      | заметить, а также они делают переписку запутанной.
