article.rule
  .content
    h2: a(name="business-texting", href="#business-texting")
      | Деловая переписка
    p(style={
      'height': '600px',
      'background': '#d49191',
      'border-radius': '10px',
      'font-size': '66px',
      'text-align': 'center',
      'line-height': '8em',
      'font-weight': 100,
    }) TODO
