article.rule
  .content
    h2 Будьте грамотны
    p
      | Соблюдение правил русского языка необходимо, чтобы вас понимали.
    p
      | Грубые орфографические ошибки и нарушения пунктуации могут значительно
      | затруднить понимание вашего сообщения.
    p.tip
      | Используйте программную проверку орфографии
      | и редактирование отправленных сообщений в мессенджерах.
      br
      | Перечитывайте сообщение перед отправкой.
  +sample()
