article.rule
  .content
    h2 Не пишите сообщения цепочкой
    p
      | Избегайте отправки нескольких сообщений подряд, если их можно объединить в одно.
      | Помните, что собеседник получит уведомление на каждое из сообщений, что может отвлекать и раздражать.
    p
      | Аналогично, если вы хотите донести несколько мыслей или задать несколько вопросов,
      | возможно, будет лучше написать их в одном сообщении. Таким образом, собеседник сможет
      | сразу ответить на все интересующие вас вещи, а также оценить необходимое время на переписку.
    p
      | В частности никогда не стоит писать "Привет" и ждать ответа, прежде чем задать вопрос.
    p.tip
      | Для нескольких вопросов, используйте нумерацию.
      | С помощью нумерации собеседник сможет сослаться на конкретный вопрос.
  +sample()
