article.rule
  .content
    h2 Выражайте намерения явно
    p Всегда старайтесь сразу же и явно выражать свои намерения.
    p Если вы хотите задать вопрос, убедитесь, что он озвучен и не теряется среди прочего текста сообщения.
    p Если вы хотите, чтобы что-то было сделано, напишите об этом прямо.
    p
      | Если вы хотите получить ответ от конкретного лица в групповом чате,
      | обратитесь к нему по имени или используйте личное сообщение.
    p.tip
      | Если вы хотите задать вопрос, в вашем сообщении должно быть хотя бы одно
      | предложение со знаком вопроса.
    p.tip
      | В групповых чатах сообщения адресованные всем, с большей вероятностью будут игнорироваться,
      | так как каждый участник будет считать это не своим делом.
  +sample()
