article.rule
  .content
    h2 Форматируйте текст
    p
      | Для облегчения чтения вашего сообщения, используйте
      | средства форматирования, доступные в вашем мессенджере.
    ul
      li Списки помогут структурировать текст
      li <i>Курсив</i> и <b>жирный текст</b> помогут выделить слова
      li <code>моноширинный текст</code> позволит выделить технические данные
  +sample()
