article.rule
  .content
    h2: a(name="indent-messages", href="#indent-messages")
      | Используйте отступы
    p
      | Обычно следует избегать длинных сообщений, но иногда это все же требуется.
    p
      | В таком случае, разделяйте текст на абзацы при помощи отступов.
  +sample()
