article.rule
  .content
    h2 Не пишите поздно
    p
      | Некоторые люди не терпят, когда им отправляют сообщение во внерабочее время либо поздно вечером.
      | Некоторые относятся к этому нормально.
    p
      | Избегайте писать сообщения в позднее время, если это не является обычной
      | практикой для вашего собеседника. Если сомневаетесь, спросите согласие заранее.
    p
      | В любом случае, надеятся на ответ в это время не стоит, если это не оговорено заранее.
    p.tip
      | Если вас беспокоят поздние сообщения, используйте режим "Не беспокоить"
      | и настройку уведомлений в ваших мессенджерах, на компьютерах и телефонах.
  +sample()
