article.rule
  .content
    h2 Используйте ссылки на сообщения
    p
      | Если вы отвечаете на сообщение, после которого было сделано еще несколько сообщений,
      | вам следует каким-либо образом указать, на какое сообщение вы отвечаете.
      | Иначе вы рискуете быть непонятыми.
    p
      | Особенно это справедливо для групповых чатов, где ведется активное обсуждение.
    p.tip
      | Для ссылки на сообщение в большинстве мессенджеров есть цитирование.
  +sample()
