article.rule
  .content
    h2 Оставляйте свою реакцию на сообщение
    p
      | Не оставляйте сообщения вашего собеседника без какой-либо реакции.
    p
      | В этом случае, собеседнику может быть неясно, получили вы сообщение,
      | согласны ли вы с ним, решило ли это вашу проблему и т.п.
    p
      | Однако, не стоит реагировать на сообщения полученные давно (например, несколько часов назад),
      | если ваша реакция не добавляет ничего в обсуждение.
      | Собеседник уже не ждет вашей реакции, поэтому сообщение будет лишним.
    p.tip
      | Во многих современных мессенджерах существуют "реакции", т.е. эмодзи под сообщением.
      | Такие реакции дают человеку понять вашу оценку сказанного и, обычно, не вызывают уведомлений.
  +sample()
