article.rule
  .content
    h2 Аккуратно напоминайте о себе
    p
      | Иногда собеседник может не получить ваше сообщение или забыть ответить на него.
      | В таком случае, вы можете вежливо напомнить о себе.
    p
      | Однако, избегайте назойливости и дайте человеку время на ответ.
    p.tip
      | Обращайте внимание на статус собеседника в мессенджере, его график работы, статус сообщения.
  +sample()
