article.rule
  .content
    h2 Используйте эмодзи аккуратно
    p
      | Эмодзи или смайлики позволяют добавлять вашим сообщениям эмоциональный окрас.
    p
      | Их использование зачастую считается хорошим тоном.
      | И они также могут помочь вам выразить свои мысли более ясно.
    p
      | Однако стоит избегать чрезмерного использования эмодзи.
      | Большое количество разнообразных смайликов может запутывать собеседника,
      | раздражать и мешать воспринимать информацию.
  +sample()
