article.rule
  .content
    h2 Уважайте собеседника
    p
      | Уважайте чужое время ровно как и свое.
      | Общайтесь так, как хотели бы, чтобы с вами общались.
    p
      | Помогите собеседнику понять вас и решить свои задачи.
      | Если каждый ваш собеседник будет соблюдать это правило, работать станет намного проще,
      | но изменения начинаются с вас.
    p
      | Будьте вежливы, спокойны, дружелюбны.
      | Избегайте сарказма, язвительности, обвинений и других проявлений токсичности.
      | Это усложнит взаимодействие и сделает общение не эффективным.
    p
      | Уважение - главное правило общения.

article.rule
  .content
    h2 Будьте грамотны
    p
      | Соблюдение правил русского языка необходимо, чтобы вас понимали.
    p
      | Грубые орфографические ошибки и нарушения пунктуации могут значительно
      | затруднить понимание вашего сообщения.
    p.tip
      | Используйте программную проверку орфографии
      | и редактирование отправленных сообщений в мессенджерах.
      | Перечитывайте сообщение перед отправкой.

article.rule
  .content
    h2 Сохраняйте локаничность
    p
      | Старайтесь излагать мысли кратко, но емко.
    p
      | Читатель вряд ли оценит большое сообщение, если оно содержит много лишних деталей.
    p.tip
      | Помните кому вы пишете.
      | Постарайтесь понять, какая информация важна для него, а какая будет лишней.

article.rule
  .content
    h2 Обдумайте ответ
    p
      | Не спешите отвечать на сообщение. Особенно, если оно вам не очень понятно.
    p
      | Перечитайте сообщение, обдумайте ответ, запишите и перечитайте его.
    p
      | Вы можете сэкономить время на дополнительных пояснениях, если сделаете обдуманный ответ.

article.rule
  .content
    h2 Используйте понятный язык
    p
      | Если ваша цель - донести информацию, вам необходимо писать понятно.
    p
      | Используйте простой разговорный стиль речи.
      | Придерживайтесь только русского языка.
      | Избегайте художественных и научных оборотов, специальной терминологии,
      | жаргорна, нераспространенных сокращений.
    p.tip
      | Если сомневаетесь, что читатель вас поймет, перефразируйте.
    p.tip
      | Если вам необходимо использовать какой-то термин, но вы сомневаетесь, что вас поймут,
      | не бойтесь написать определение термина.

article.rule
  .content
    h2 Помогите понять вас
    p
      | Читатель не знает всего, что знаете вы. Не предполагайте, что вас обязательно поймут.
    p
      | Читатель смотрит на написанное со своей точки зрения. Старайтесь раскрыть вопрос с разных сторон.
    p
      | Читатель может отвлечься, забыть, понять по своему. Напоминайте, уточняйте, спрашивайте.
    p
	  em Если вас не понимают, виноваты в этом вы, а не читатель.
    p.tip
      | Постарайтесь отнестись к собеседнику с пониманием и добротой, когда он не понимает вас.
      | Помогите ему разобраться.

article.rule
  .content
    h2 Оставляйте свои комментарии к ссылкам
    p
      | Иногда необходимо привести в сообщении ссылку на статью или документацию,
      | добавить изображение или скриншот.
    p
      | В этом случае, опишите вкратце приведенные материалы.
      | О чем статья по ссылке, что показывает изображение.
      | На скриншотах используйте подчеркивания и стрелки, чтобы показать важные моменты.
    p.tip
      | Используйте сторонние программные средства для создания скриншотов.
      | Они позволят вам удобнее и быстрее сделать информативные скриншоты.
    p.tip
      | Не приводите ссылку на иностранном языке, если не уверены, что собеседник
      | знает его в достаточной степени.

article.rule
  .content
    h2 Не пишите сообщения цепочкой
    p
      | Избегайте отправки нескольких сообщений подряд, если их можно объединить в одно.
      | Помните, что собеседник получит уведомление на каждое из сообщений, что может отвлекать и раздражать.
    p
      | Аналогично, если вы хотите донести несколько мыслей или задать несколько вопросов,
      | возможно, будет лучше написать их в одном сообщении. Таким образом, собеседник сможет
      | сразу ответить на все интересующие вас вещи, а также оценить необходимое время на переписку.
    p
      | В частности никогда не стоит писать "Привет" и ждать ответа, прежде чем задать вопрос.
    p.tip
      | Для нескольких вопросов, используйте нумерацию.
      | С помощью нумерации собеседник сможет сослаться на конкретный вопрос.

article.rule
  .content
    h2 Выражайте намерения явно
    p
      | Всегда старайтесь сразу же и явно выражать свои намерения.
    p
      | Если вы хотите задать вопрос, убедитесь, что он озвучен и не теряется среди прочего текста сообщения.
    p
      | Если вы хотите, чтобы что-то было сделано, напишите об этом прямо.
    p
      | Если вы хотите получить ответ от конкретного лица в групповом чате,
      | обратитесь к нему по имени или используйте личное сообщение.
    p.tip
      | Если вы хотите задать вопрос, в вашем сообщении должно быть хотя бы одно
      | предложение со знаком вопроса.
    p.tip
      | В групповых чатах сообщения адресованные всем, с большей вероятностью будут игнорироваться,
      | так как каждый участник будет считать это не своим делом.

article.rule
  .content
    h2 Дайте время на ответ
    p
      | Переписка, в отличие от разговора, носит асинхронный характер.
      | Это значит, что всегда есть задержка между вопросом и ответом.
    p
      | Не ждите, что вам ответят мгновенно.
    p
      | Аналогично, не бросайте все срочные дела, чтобы ответить как можно скорее.
    p.tip
      | Для срочных обсуждений вы можете заранее предупредить собеседника о необходимости
      | быстрого ответа. Если это невозможно, используйте звонок.

article.rule
  .content
    h2 Аккуратно напоминайте о себе
    p
      | Иногда собеседник может не получить ваше сообщение или забыть ответить на него.
      | В таком случае, вы можете вежливо напомнить о себе.
    p
      | Однако, избегайте назойливости и дайте человеку время на ответ.
    p.tip
      | Обращайте внимание на статус собеседника в мессенджере, его график работы, статус сообщения.

article.rule
  .content
    h2 Оставляйте свою реакцию на сообщение
    p
      | Не оставляйте сообщения вашего собеседника без какой-либо реакции.
    p
      | В этом случае, собеседнику может быть неясно, получили вы сообщение,
      | согласны ли вы с ним, решило ли это вашу проблему и т.п.
    p
      | Однако, не стоит реагировать на сообщения полученные давно (например, несколько часов назад),
      | если ваша реакция не добавляет ничего в обсуждение.
      | Собеседник уже не ждет вашей реакции, поэтому сообщение будет лишним.
    p.tip
      | Во многих современных мессенджерах существуют "реакции", т.е. эмодзи под сообщением.
      | Такие реакции дают человеку понять вашу оценку сказанного и, обычно, не вызывают уведомлений.

article.rule
  .content
    h2 Используйте эмодзи аккуратно
    p
      | Эмодзи или смайлики позволяют добавлять вашим сообщениям эмоциональный окрас.
    p
      | Их использование зачастую считается хорошим тоном.
      | И они также могут помочь вам выразить свои мысли более ясно.
    p
      | Однако стоит избегать чрезмерного использования эмодзи.
      | Большое количество разнообразных смайликов может запутывать собеседника,
      | раздражать и мешать воспринимать информацию.

article.rule
  .content
    h2 Используйте ссылки на сообщения
    p
      | Если вы отвечаете на сообщение, после которого было сделано еще несколько сообщений,
      | вам следует каким-либо образом указать, на какое сообщение вы отвечаете.
      | Иначе вы рискуете быть непонятыми.
    p
      | Особенно это справедливо для групповых чатов, где ведется активное обсуждение.
    p.tip
      | Для ссылки на сообщение в большинстве мессенджеров есть цитирование.

article.rule
  .content
    h2 Используйте отступы
    p
      | Обычно следует избегать длинных сообщений, но иногда это все же требуется.
    p
      | В таком случае, разделяйте текст на абзацы при помощи отступов.

article.rule
  .content
    h2 Форматируйте текст
    p
      | Для облегчения чтения вашего сообщения, используйте
      | средства форматирования, доступные в вашем мессенджере.
    ul
      li Списки помогут структурировать текст
      li <i>Курсив</i> и <b>жирный текст</b> помогут выделить слова
      li <code>моноширинный текст</code> позволит выделить технические данные

article.rule
  .content
    h2 Не пишите поздно
    p
      | Некоторые люди не терпят, когда им отправляют сообщение во внерабочее время либо поздно вечером.
      | Некоторые относятся к этому нормально.
    p
      | Избегайте писать сообщения в позднее время, если это не является обычной
      | практикой для вашего собеседника. Если сомневаетесь, спросите согласие заранее.
    p
      | В любом случае, надеятся на ответ в это время не стоит, если это не оговорено заранее.
    p.tip
      | Если вас беспокоят поздние сообщения, используйте режим "Не беспокоить"
      | и настройку уведомлений в ваших мессенджерах, на компьютерах и телефонах.
