@import './@palette';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $bkg-color;
  color: $text-color;
}

svg {
  height: 1em;
  width: auto;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

h2 > a {
  color: inherit;

  &:hover {
    text-decoration: none;

    &::after {
      content: '¶';
      margin-left: 20px;
    }
  }
}
