$accent-color: #51dce4;

$bkg-color: #fff;
$text-color: #333;
$text-color-focus: $accent-color;
$text-color-hover: $accent-color;
$wave-color: $accent-color;

$sample-red: #f5aaaa;
$sample-green: #aaf5b2;

$chat-bkg-color: #333;
$chat-text-color: #333;
$chat-in-color: #def;
$chat-out-color: #de8;
