$accent-color: #51dce4;

$bkg-color: var(--bkg-color);
$text-color: var(--text-color);
$text-color-focus: $accent-color;
$text-color-hover: $accent-color;
$wave-color: $accent-color;

$sample-bad-border-color: #f5aaaa;
$sample-good-border-color: #aaf5b2;
$sample-bad-bkg-color: var(--sample-bad-bkg-color);
$sample-good-bkg-color: var(--sample-good-bkg-color);
$sample-bad-text-color: #fff;
$sample-good-text-color: #fff;

$chat-in-color: #888;
$chat-out-color: #0783ff;

@mixin dark-theme {
  --bkg-color: #333;
  --text-color: #fff;
  --sample-bad-bkg-color: #523737;
  --sample-good-bkg-color: #405237;
}

@mixin light-theme {
  --bkg-color: #fff;
  --text-color: #333;
  --sample-bad-bkg-color: #ffbebe;
  --sample-good-bkg-color: #bfffbe;
}

body { @include light-theme(); }
body.dark { @include dark-theme(); }

@media (prefers-color-scheme: dark) {
  body { @include dark-theme(); }
}
