.menu {
  padding: 100px 30px;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0 20px;
    list-style-type: '#';
    list-style-position: inside;
    padding: 0;
    margin: 0;

    li {
      padding: 20px 0;
      font-size: 21px;
      font-weight: 100;
    }
  }
}
