@import './@palette';

$circle-height: 40px;
$circle-margin: 5px;

.a-b {
  min-width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;

  &::after {
    display: block;
    width: $circle-height;
    height: $circle-height;
    border-radius: 50%;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin: $circle-margin auto 0 auto;
    line-height: 3rem;
    text-align: center;
  }

  @mixin set-color($color, $dir) {
    background-image: linear-gradient(#{$dir}, darken($color, 40), #{$color});
    box-shadow: 5px 10px 1px rgba(darken($color, 60), 0.4);
  }

  &.a {
    @include set-color($sample-red, to right bottom);

    &::after { content: url('../static/icons/cross.svg'); }
  }

  &.b {
    @include set-color($sample-green, to left bottom);

    &::after { content: url('../static/icons/chevron-down.svg'); }
  }
}

.messenger {
  $padding: 10px;

  height: calc(100% - #{2 * $padding + $circle-height + $circle-margin});
  min-height: 500px;
  padding: $padding;
  border-radius: 20px;
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 5px;
  background-color: $chat-bkg-color;
  color: $chat-text-color;

  > span {
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    min-width: 40px;
    max-width: 40%;

    &.in {
      background-color: $chat-in-color;
      border-top-left-radius: 0;
    }

    &.out {
      margin-left: auto;
      background-color: $chat-out-color;
      border-bottom-right-radius: 0;
    }
  }
}
