@import './@palette';

$circle-height: 40px;
$circle-margin: 5px;

.a-b {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;

  &::after {
    display: block;
    width: $circle-height;
    height: $circle-height;
    border-radius: 50%;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin: $circle-margin auto 0 auto;
    line-height: 3rem;
    text-align: center;
  }

  @mixin sample-border-color($color, $dir) {
    background-image: linear-gradient(#{$dir}, darken($color, 40), #{$color});
    box-shadow: 5px 10px 1px rgba(darken($color, 60), 0.4);
  }

  &.a {
    @include sample-border-color($sample-bad-border-color, to right bottom);

    &::after { content: url('../static/icons/cross.svg'); }

    .messenger {
      background-color: $sample-bad-bkg-color;
      color: $sample-bad-text-color;
    }
  }

  &.b {
    @include sample-border-color($sample-good-border-color, to left bottom);

    &::after { content: url('../static/icons/chevron-down.svg'); }

    .messenger {
      background-color: $sample-good-bkg-color;
      color: $sample-good-text-color;
    }
  }
}

.messenger {
  $padding: 10px;

  height: calc(100% - #{2 * $padding + $circle-height + $circle-margin});
  min-height: 400px;
  padding: $padding;
  border-radius: 20px;
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 5px;
  font-size: 14px;

  .emoji { font-size: 2em; }

  > span {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    min-width: 40px;
    max-width: 80%;
    word-break: break-word;

    &.default-time::before { content: "17:25"; }

    .time,
    &.default-time::before {
      align-self: flex-start;
      font-size: 10px;
      word-break: keep-all;
    }

    &.in {
      background-color: $chat-in-color;
      border-top-left-radius: 0;

      .time,
      &.default-time::before {
        margin-left: 20px;
      }
    }

    &.out {
      margin-left: auto;
      background-color: $chat-out-color;
      border-bottom-right-radius: 0;
      flex-direction: row;

      .time,
      &.default-time::before {
        margin-right: 20px;
      }
    }

    blockquote {
      font-size: 0.9em;
      margin-bottom: 15px;
    }

    ul {
      padding-left: 20px;
      margin: 0;
    }
  }
}
