article
  h2: a(name="about", href="#about")
    | О проекте
  p
    | Данный проект создан как попытка повысыть культуру общения в месенджерах.
    | Особенно в рабочей среде. Соблюдая простые правила, мы можем заметно улучшить
    | наше каждодневное общение - избежать раздражений и недопониманий, побуждать
    | сотрудничество и помощь, вместо пассивности и противодействия.

  p
    | Если вы согласны с данными правилами, поделитесь ими с вашими знакомыми и коллегами.
    | А также не стесняйтесь предлагать ваши правила или исправления (ссылки представлены ниже).


  h3 Отказ от ответственности
  p
    | Данные правила не составлены на основании серьезных исследований, опросов или т.п.,
    | но основаны на коллективном опыте.
    | Они могут различаться для различных культур, порядков и компаний.
    | Используйте на свое усмотрение.
  p
    | Главное правило - заботьтесь о вашем читателе ❤️

  h3 Полезные материалы
  ul
    li: a(href="https://twitter.com/KELiON/status/1206919516636303361") Тред про вредные привычки корпоративной переписки от Александра Субботина
    li: a(href="https://neprivet.ru/") Пожалуйста, не пишите просто «Привет» в чате
    li: a(href="https://mailfit.com/blog/torshina-how-to-write-emails") Правила деловой переписки по Email
    li: a(href="https://www.alpinabook.ru/catalog/book-81365/") Максим Ильяхов, Людмила Сарычева - Пиши, сокращай
    li: a(href="https://www.alpinabook.ru/catalog/book-469181/") Максим Ильяхов, Людмила Сарычева - Новые правила деловой переписки
    li: a(href="https://www.grammarly.com/blog/texting-etiquette/") Grammarly - Texting Etiquette: A Brief Guide to Polite Messaging

  h3 Обратная связь
  ul
    li: a(href="mailto:n.m.batrakov@gmail.com?subject=Text Better") n.m.batrakov@gmail.com
    li: a(href="https://twitter.com/BatrakovNikita") Twitter
    li: a(href="https://github.com/n-batrakov/text-better") GitHub
