.rule
  article
    h2: a(name="be-patient", href="#be-patient")
      | Дайте время на ответ
    p
      | Переписка, в отличие от разговора, носит асинхронный характер.
      | Это значит, что всегда есть задержка между вопросом и ответом.
    p
      | Не ждите, что вам ответят мгновенно.
    p
      | Аналогично, не бросайте все срочные дела, чтобы ответить как можно скорее.
    p.tip
      | Для срочных обсуждений вы можете заранее предупредить собеседника о необходимости
      | быстрого ответа. Если это невозможно, используйте звонок.

  aside
    .a-b.a: .messenger
      span.out(data-time="12:35")
        | Привет!
        br
        | Напомни, где я могу получить актуальную документацию по проекту?
      span.out(data-time="12:36")
        | ???
      span.out(data-time="12:37")
        | Ты тут?
      span.in.emoji
        | 😠
      span.in(data-time="12:40")
        | Я работаю над важным отчетом
        br
        | Все ссылки прикреплены к странице проекта
        br
        | https://project.company.com
      span.out(data-time="12:40")
        | Ой, прости. Спасибо!
    .a-b.b: .messenger
      span.out(data-time="12:35")
        | Привет!
        br
        | Напомни, где я могу получить актуальную документацию по проекту?
      span.in(data-time="12:40")
        | Привет!
        br
        | Все ссылки прикреплены к странице проекта
        br
        | https://project.company.com
      span.out(data-time="12:40")
        | Спасибо!
