article.rule
  .content
    h2: a(name="be-patient", href="#be-patient")
      | Дайте время на ответ
    p
      | Переписка, в отличие от разговора, носит асинхронный характер.
      | Это значит, что всегда есть задержка между вопросом и ответом.
    p
      | Не ждите, что вам ответят мгновенно.
    p
      | Аналогично, не бросайте все срочные дела, чтобы ответить как можно скорее.
    p.tip
      | Для срочных обсуждений вы можете заранее предупредить собеседника о необходимости
      | быстрого ответа. Если это невозможно, используйте звонок.
  +sample()
