.rule
  article
    h2: a(name="be-respectful", href="#be-respectful")
      | Уважайте собеседника
    p
      | Уважайте чужое время ровно как и свое.
      | Общайтесь так, как хотели бы, чтобы с вами общались.
    p
      | Помогите собеседнику понять вас и решить свои задачи.
      | Если каждый ваш собеседник будет соблюдать это правило, работать станет намного проще,
      | но изменения начинаются с вас.
    p
      | Будьте вежливы, спокойны, дружелюбны.
      | Избегайте сарказма, язвительности, обвинений и других проявлений токсичности.
      | Это усложнит взаимодействие и сделает общение не эффективным.
    p
      | Уважение &mdash; главное правило общения.

  aside
    .a-b.a: .messenger
      span.in.default-time
        | Привет!
        br
        br
        | Напомни, где я могу получить актуальную документацию по проекту?
      span.out.default-time
        | Я уже говорил об этом 3 раза!
        br
        br
        | Почему именно я должен всем говорить об этом?!
      span.in.default-time.emoji
        | 😒
    .a-b.b: .messenger
      span.in.default-time
        | Привет!
        br
        br
        | Напомни, где я могу получить актуальную документацию по проекту?
      span.out.default-time
        | Привет!
        br
        br
        | Все ссылки, как обычно, прикреплены к странице проекта
        br
        | https://project.company.com
      span.in.default-time.emoji
        | 👍
