.rule
  article
    h2: a(name="check-grammar", href="#check-grammar")
      | Будьте грамотны
    p
      | Соблюдение правил русского языка необходимо, чтобы вас понимали.
    p
      | Грубые орфографические ошибки и нарушения пунктуации могут значительно
      | затруднить понимание вашего сообщения.
    p.tip
      | Используйте программную проверку орфографии
      | и редактирование отправленных сообщений в мессенджерах.
      br
      | Перечитывайте сообщение перед отправкой.
  aside
    +bad({
      out: 'Привет срочно мн енужны сылки на проеткы где лежат не знешь'
    }, {
      in: '😥', emoji: true
    }, {
      in: 'Ничего не понял'
    })
    +good({
        out: 'Привет!\n\nМне срочно нужны ссылки на наши проекты.\nНе подскажешь, где их найти?'
      }, {
        in: 'Привет!\n\nВсе ссылки здесь:\nhttps://project.company.com'
      }, {
        out: '👍', emoji: true
    })
