article.rule
  .content
    h2: a(name="comment-on-attachments", href="#comment-on-attachments")
      | Оставляйте свои комментарии к ссылкам
    p
      | Иногда необходимо привести в сообщении ссылку на статью или документацию,
      | добавить изображение или скриншот.
    p
      | В этом случае, опишите вкратце приведенные материалы.
      | О чем статья по ссылке, что показывает изображение.
      | На скриншотах используйте подчеркивания и стрелки, чтобы показать важные моменты.
    p.tip
      | Используйте сторонние программные средства для создания скриншотов.
      | Они позволят вам удобнее и быстрее сделать информативные скриншоты.
    p.tip
      | Не приводите ссылку на иностранном языке, если не уверены, что собеседник
      | знает его в достаточной степени.
  +sample()
