.rule
  article
    h2: a(name="comment-on-attachments", href="#comment-on-attachments")
      | Оставляйте свои комментарии к ссылкам
    p
      | Иногда необходимо привести в сообщении ссылку на сайт или
      | добавить изображение или скриншот.
    p
      | В этом случае, опишите вкратце приведенные материалы.
      | О чем статья по ссылке, что показывает изображение.
      | На скриншотах используйте подчеркивания и стрелки, чтобы показать важные моменты.
    p.tip
      | Используйте сторонние программные средства для создания скриншотов.
      | Они позволят вам удобнее и быстрее сделать информативные скриншоты.
    p.tip
      | Не приводите ссылку на иностранном языке, если не уверены, что собеседник
      | знает его в достаточной степени.
  aside
    +bad({
      in: 'Не подскажешь, когда заканчивается поддержка Internet Explorer?'
    }, {
      out: 'https://support.microsoft.com/en-us/help/17454/lifecycle-faq-internet-explorer'
    }, {
      in: 'Где там дата написана?'
    }, {
      in: '🙁', emoji: true
    })
    +good({
      in: 'Не подскажешь, когда заканчивается поддержка Internet Explorer?'
    }, {
      out: 'В 2025-м, когда закончится поддержка Windows 10. Подробнее о жизненном цикле Internet Explorer:\n\nhttps://support.microsoft.com/en-us/help/17454/lifecycle-faq-internet-explorer'
    }, {
      in: 'Отлично! Спасибо'
    }, {
      in: '👍', emoji: true
    })
