article.rule
  .content
    h2: a(name="express-intentions-clearly", href="#express-intentions-clearly")
      | Выражайте намерения явно
    p
      | Всегда старайтесь сразу же и явно выражать свои намерения.
    p
      | Если вы хотите задать вопрос, убедитесь, что он озвучен и не теряется среди прочего текста сообщения.
    p
      | Если вы хотите, чтобы что-то было сделано, напишите об этом прямо.
    p
      | Если вы хотите получить ответ от конкретного лица в групповом чате,
      | обратитесь к нему по имени или используйте личное сообщение.
    p.tip
      | Если вы хотите задать вопрос, в вашем сообщении должно быть хотя бы одно
      | предложение со знаком вопроса.
    p.tip
      | В групповых чатах сообщения адресованные всем, с большей вероятностью будут игнорироваться,
      | так как каждый участник будет считать это не своим делом.
  .sample
    .a-b.a: .messenger
      span.out.default-time
        | Я заполняю заявление на отпуск и не знаю, какую дату проставлять в бланке
      span.in.default-time
        | Бывает
      span.out.default-time
        | Так ты поможешь мне?
      span.in.default-time
        | С чем?
      span.out.default-time
        | Дату какую проставлять?
      span.in.default-time
        | Текущую, как обычно
      span.out.default-time
        | Вот. Сразу бы так
      span.in.default-time
        | Сразу вопрос задавай
    .a-b.b: .messenger
      span.out.default-time
        | Какую дату проставлять в заявление на отпуск?
      span.in.default-time
        | Текущую, как обычно
      span.out.default-time
        | Хорошо. Спасибо!
