article.rule
  .content
    h2: a(name="format-messages", href="#format-messages")
      | Форматируйте текст
    p
      | Для облегчения чтения вашего сообщения, используйте
      | средства форматирования, доступные в вашем мессенджере.
    ul
      li Списки помогут структурировать текст
      li <i>Курсив</i> и <b>жирный текст</b> помогут выделить слова
      li <code>моноширинный текст</code> позволит выделить технические данные
    p
      | Если ваше сообщение вышло достаточно длинным, используйте перенос строки,
      | чтобы выделить абзацы и облегчить чтение.
  .sample
    .a-b.a: .messenger
      span.out.default-time
        | Добрый день!
        br
        | Я хотела бы обсудить сегодня ряд вопросов, таких как:
        | деловая переписка, правила этикета при работе с клиентами,
        | ведение документации по проектам.
        br
        | Мне кажется, что в этих вопросах у нас ежедневно возникает
        | много ненужных проблем.
        | Обсуждение предлагаю провести в переговорке №3 в 14:00.
        | Присутствие обязательно.
    .a-b.b: .messenger
      span.out.default-time
        div
          | Добрый день!
          br
          br
          | Я хотела бы обсудить сегодня ряд вопросов, таких как:
          ul
            li деловая переписка
            li правила этикета при работе с клиентами
            li ведение документации по проектам.
          br
          br
          | Мне кажется, что в этих вопросах у нас ежедневно возникает
          | много ненужных проблем.
          br
          br
          | Обсуждение предлагаю провести в переговорке №3 в 14:00.
          br
          br
          | <b>Присутствие обязательно.</b>

