.rule
  article
    h2: a(name="format-messages", href="#format-messages")
      | Форматируйте текст
    p
      | Для облегчения чтения вашего сообщения, используйте
      | средства форматирования, доступные в вашем мессенджере.
    ul
      li Списки помогут структурировать текст
      li <i>Курсив</i> и <b>жирный текст</b> помогут выделить слова
      li <code>моноширинный текст</code> позволит выделить технические данные
    p
      | Если ваше сообщение вышло достаточно длинным, используйте перенос строки,
      | чтобы выделить абзацы и облегчить чтение.
  aside
    +bad({
      out: ''
        + 'Добрый день!'
        + '\n'
        + 'Я хотела бы обсудить сегодня ряд вопросов, таких как:'
        + 'деловая переписка, правила этикета при работе с клиентами,'
        + 'ведение документации по проектам.'
        + '\n'
        + 'Мне кажется, что в этих вопросах у нас ежедневно возникает'
        + 'много ненужных проблем.'
        + 'Обсуждение предлагаю провести в переговорке №3 в 14:00.'
        + 'Присутствие обязательно.'
    })
    +good({
      out: ''
        + 'Добрый день!'
        + '\n\nЯ хотела бы обсудить сегодня ряд вопросов, таких как:'
        + '<ul>'
        +   '<li>деловая переписка</li>'
        +   '<li>правила этикета при работе с клиентами</li>'
        +   '<li>ведение документации по проектам.</li>'
        + '</ul>'
        + '\n\nМне кажется, что в этих вопросах у нас ежедневно возникает много ненужных проблем.'
        + '\n\nОбсуждение предлагаю провести в переговорке №3 в 14:00.'
        + '\n\n<b>Присутствие обязательно.</b>'
    })
