article.rule
  .content
    h2: a(name="help-to-understand", href="#help-to-understand")
      | Помогите понять вас
    p Читатель не знает всего, что знаете вы. Не предполагайте, что вас обязательно поймут.
    p Читатель смотрит на написанное со своей точки зрения. Старайтесь раскрыть вопрос с разных сторон.
    p Читатель может отвлечься, забыть, понять по своему. Напоминайте, уточняйте, спрашивайте.
    p.tip
      | Постарайтесь отнестись к собеседнику с пониманием и терпением, когда он не понимает вас.
      | Не вините его в этом, но помогите разобраться.
  .sample
    .a-b.a: .messenger
      span.out.default-time
        | Нам нужно, чтобы красный на странице был другим, а блок слева был наоборот.
      span.in.default-time
        | Каким должен быть красным? И что вы имеете в виду под "наоборот"?
      span.out.default-time
        | Ну что здесь непонятного? Мы уже трижды это обсуждали!
      span.in.default-time
        | Мы обсуждали другой проект. На данный момент, я не понимаю, что требуется.
    .a-b.b: .messenger
      span.out.default-time
        | Нам нужно, чтобы красный на странице был другим, а блок слева был наоборот.
      span.in.default-time
        | Каким должен быть красным? И что вы имеете в виду под "наоборот"?
      span.out.default-time
        | Я имею в виду, что красный хотелось бы видеть немного светлее, как мы делали это на прошлом проекте.
        br
        br
        | А блок должен быть справа.
      span.in.default-time
        | Все понятно. Отправлю исправленный вариант вскоре.
