article.rule
  .content
    h2: a(name="help-to-understand", href="#help-to-understand")
      | Помогите понять вас
    p Читатель не знает всего, что знаете вы. Не предполагайте, что вас обязательно поймут.
    p Читатель смотрит на написанное со своей точки зрения. Старайтесь раскрыть вопрос с разных сторон.
    p Читатель может отвлечься, забыть, понять по своему. Напоминайте, уточняйте, спрашивайте.
    p: strong Если вас не понимают, виноваты в этом вы, а не читатель.
    p.tip
      | Постарайтесь отнестись к собеседнику с пониманием и добротой, когда он не понимает вас.
      | Помогите ему разобраться.
  +sample()
