.rule
  article
    h2: a(name="help-to-understand", href="#help-to-understand")
      | Помогите понять вас
    p Читатель не знает всего, что знаете вы. Не предполагайте, что вас обязательно поймут.
    p Читатель смотрит на написанное со своей точки зрения. Старайтесь раскрыть вопрос с разных сторон.
    p Читатель может отвлечься, забыть, понять по своему. Напоминайте, уточняйте, спрашивайте.
    p.tip
      | Постарайтесь отнестись к собеседнику с пониманием и терпением, когда он не понимает вас.
      | Не вините его в этом, но помогите разобраться.
  aside
    +bad({
      out: 'Нам нужно, чтобы красный на странице был другим, а блок слева был наоборот.'
    }, {
      in: 'Каким должен быть красным? И что вы имеете в виду под "наоборот"?'
    }, {
      out: 'Ну что здесь непонятного? Мы уже трижды это обсуждали!'
    }, {
      in: 'Мы обсуждали другой проект. На данный момент, я не понимаю, что требуется.'
    })
    +good({
      out: 'Нам нужно, чтобы красный на странице был другим, а блок слева был наоборот.'
    }, {
      in: 'Каким должен быть красным? И что вы имеете в виду под "наоборот"?'
    }, {
      out: 'Я имею в виду, что красный хотелось бы видеть немного светлее, как мы делали это на прошлом проекте.\n\nА блок должен быть справа.'
    }, {
      in: 'Все понятно. Отправлю исправленный вариант вскоре.'
    })
