.rule
  article
    h2: a(name="keep-it-short", href="#keep-it-short")
      | Сохраняйте локаничность
    p
      | Старайтесь излагать мысли кратко, но ёмко.
    p
      | Читатель вряд ли оценит большое сообщение, если оно содержит много лишних деталей.
    p.tip
      | Помните кому вы пишете.
      br
      | Постарайтесь понять, какая информация важна для него, а какая будет лишней.
  aside
    +bad({
      in: 'Какое в итоге решение?'
    }, {
      out: ''
        + 'Мы проверили много вариантов, но не один из них нам не подходил.'
        + 'Теперь мы думаем над новым вариантом, который выглядит наиболее многообещающим.'
        + 'Надо попробовать его сегодня и двигаться дальше.'
        + 'Вообще этот случай оказался довольно интересным. Мы думаем написать о нем подробнее.'
        + 'Хотя, пока рано думать об этом. В общем, хорошо, что мы задумались об этом заранее.'
    })
    +good({
      in: 'Какое в итоге решение?'
    }, {
      out: 'Создать свой алгоритм. Сегодня мы проведем все необходимые оценки и предоставим отчет.\n\nЕсли тебе интересно, я могу рассказать подробнее.'
    }, {
      in: 'Нет, спасибо. Я узнал, что хотел.'
    }, {
      in: '👍', emoji: true
    })
