.rule
  article
    h2: a(name="keep-it-simple", href="#keep-it-simple")
      | Используйте понятный язык
    p
      | Если ваша цель &mdash; донести информацию, вам необходимо писать понятно.
    p
      | Используйте простой разговорный стиль речи.
      | Придерживайтесь только русского языка.
      | Избегайте художественных и научных оборотов, специальной терминологии,
      | жаргорна, нераспространенных сокращений.
    p.tip
      | Если сомневаетесь, что читатель вас поймет, перефразируйте.
    p.tip
      | Если вам необходимо использовать какой-то термин, но вы сомневаетесь, что вас поймут,
      | не бойтесь написать определение термина.
  aside
    .a-b.a: .messenger
      span.out.default-time
        | Hi
      span.in.default-time
        | Hi
    .a-b.b: .messenger
      span.out.default-time
        | Hi
      span.in.default-time
        | Hi

