article.rule
  .content
    h2: a(name="keep-it-short", href="#keep-it-short")
      | Сохраняйте локаничность
    p
      | Старайтесь излагать мысли кратко, но ёмко.
    p
      | Читатель вряд ли оценит большое сообщение, если оно содержит много лишних деталей.
    p.tip
      | Помните кому вы пишете.
      br
      | Постарайтесь понять, какая информация важна для него, а какая будет лишней.
  +sample()
