article
  h2: a(name="messenger-features", href="#messenger-features")
    | Полезный функционал мессенджеров
  ul.tile-list
    li.text
      | Статус пользователя — позволяет указать вашу готовность к переписке в настоящий момент
    li.text
      | Упоминания (@user) — позволяют ссылаться на какого-либо пользователя.
      | Упоминания предпочтительнее обращения по имени, т.к. однозначно определяют пользователя.
    li.text
      | Реакции — позволяют добавить к сообщению Emoji, обозначающее вашу реакцию.
      | Рекомендуется использовать вместо односложных ответов на сообщение, особенно, в групповых переписках.
    li.text
      | Цитаты — позволяют сделать ссылку на какое-либо сообщение переписки.
    li.text
      | Закрепленные, избранные, сохраненные сообщения — позволяют получать быстрый доступ к важным для вас
      | сообщениям. В некоторых мессенджерах это может быть выполнено в виде отправки сообщения себе.
    li.text
      | Редактирование сообщений — позволяет исправить отправленное сообщение. Рекомендуется использовать
      | для исправления опечаток.
    li.text
      | Удаление сообщений — позволяет удалить сообщение из истории для всех пользователей.
      | Рекомендуется использовать для удаления случайно отправленных сообщений.
