.rule
  article
    h2: a(name="mind-the-time", href="#mind-the-time")
      | Не пишите поздно
    p
      | Некоторые люди не терпят, когда им отправляют сообщение во внерабочее время либо поздно вечером.
      | Некоторые относятся к этому нормально.
    p
      | Избегайте писать сообщения в позднее время, если это не является обычной
      | практикой для вашего собеседника. Если сомневаетесь, спросите согласие заранее.
    p
      | В любом случае, надеятся на ответ в это время не стоит, если это не оговорено заранее.
    p.tip
      | Если вас беспокоят поздние сообщения, используйте режим "Не беспокоить"
      | и настройку уведомлений в ваших мессенджерах, на компьютерах и телефонах.
  aside
    .a-b.a: .messenger
      span.out(data-time="23:40")
        | Привет!
        br
        br
        | Напомни, где я могу получить актуальную документацию по проекту?
      span.in(data-time="23:45")
        | Я уже легла спать. Завтра отвечу.
      span.in.emoji
        | 😴
    .a-b.b: .messenger
      span.out(data-time="10:00")
        | Доброе утро!
        br
        br
        | Напомни, где я могу получить актуальную документацию по проекту?
      span.in(data-time="10:00")
        | Доброе утро!
        br
        br
        | Все ссылки прикреплены к странице проекта
        br
        | https://project.company.com
      span.out(data-time="10:00")
        | Спасибо!
