.rule
  article
    h2: a(name="quote-messages", href="#quote-messages")
      | Используйте ссылки на сообщения
    p
      | Если вы отвечаете на сообщение, после которого было сделано еще несколько сообщений,
      | вам следует каким-либо образом указать, на какое сообщение вы отвечаете.
      | Иначе вы рискуете быть непонятыми.
    p
      | Особенно это справедливо для групповых чатов, где ведется активное обсуждение.
    p.tip
      | Для ссылки на сообщение в большинстве мессенджеров есть цитирование.
  aside
    +bad({
      in: 'Нам требуется решить, как двигаться дальше по проекту. У тебя есть идеи?'
    }, {
      out: 'Конечно. Мы уже работаем над определением работ на следующую неделю.'
    }, {
      in: 'Мы можем использовать для этого решения с предыдущего проекта?'
    }, {
      in: 'Возникают какие-нибудь проблемы с планом на неделю?'
    }, {
      out: 'Да, конечно'
    }, {
      out: 'Нет'
    }, {
      in: 'Это ответ на что?'
    })

    +good({
      in: 'Нам требуется решить, как двигаться дальше по проекту. У тебя есть идеи?'
    }, {
      out: 'Конечно. Мы уже работаем над определением работ на следующую неделю.'
    }, {
      in: 'Мы можем использовать для этого решения с предыдущего проекта?'
    }, {
      in: 'Возникают какие-нибудь проблемы с планом на неделю?'
    }, {
      out: ''
        + '<blockquote>Мы можем использовать для этого решения с предыдущего проекта?</blockquote>'
        + 'Да, конечно'
    }, {
      out: ''
        + '<blockquote>Возникают какие-нибудь проблемы с планом на неделю?</blockquote>'
        + 'Нет'
    })
