.rule
  article
    h2: a(name="quote-messages", href="#quote-messages")
      | Используйте ссылки на сообщения
    p
      | Если вы отвечаете на сообщение, после которого было сделано еще несколько сообщений,
      | вам следует каким-либо образом указать, на какое сообщение вы отвечаете.
      | Иначе вы рискуете быть непонятыми.
    p
      | Особенно это справедливо для групповых чатов, где ведется активное обсуждение.
    p.tip
      | Для ссылки на сообщение в большинстве мессенджеров есть цитирование.
  aside
    .a-b.a: .messenger
      span.in.default-time
        | Нам требуется решить, как двигаться дальше по проекту. У тебя есть идеи?
      span.out.default-time
        | Конечно. Мы уже работаем над определением работ на следующую неделю.
      span.in.default-time
        | Мы можем использовать для этого решения с предыдущего проекта?
      span.in.default-time
        | Возникают какие-нибудь проблемы с планом на неделю?
      span.out.default-time
        | Да, конечно
      span.out.default-time
        | Нет
      span.in.default-time
        | Это ответ на что?
    .a-b.b: .messenger
      span.in.default-time
        | Нам требуется решить, как двигаться дальше по проекту. У тебя есть идеи?
      span.out.default-time
        | Конечно. Мы уже работаем над определением работ на следующую неделю.
      span.in.default-time
        | Мы можем использовать для этого решения с предыдущего проекта?
      span.in.default-time
        | Возникают какие-нибудь проблемы с планом на неделю?
      span.out.default-time
        div
          blockquote Мы можем использовать для этого решения с предыдущего проекта?
          | Да, конечно
      span.out.default-time
        div
          blockquote Возникают какие-нибудь проблемы с планом на неделю?
          | Нет
