.rule
  article
    h2: a(name="react", href="#react")
      | Оставляйте свою реакцию на сообщение
    p
      | Не оставляйте сообщения вашего собеседника без какой-либо реакции.
    p
      | В этом случае, собеседнику может быть неясно, получили вы сообщение,
      | согласны ли вы с ним, решило ли это вашу проблему и т.п.
    p
      | Однако, не стоит реагировать на сообщения полученные давно (например, несколько часов назад),
      | если ваша реакция не добавляет ничего в обсуждение.
      | Собеседник уже не ждет вашей реакции, поэтому сообщение будет лишним.
    p.tip
      | Во многих современных мессенджерах существуют "реакции", т.е. эмодзи под сообщением.
      | Такие реакции дают человеку понять вашу оценку сказанного и, обычно, не вызывают уведомлений.
  aside
    .a-b.a: .messenger
      span.in
        span.time 10:30
        | У меня не получается войти в систему. Посмотришь в чем проблема?
      span.in
        span.time 11:00
        | Ты не забыл про меня?
      span.out
        span.time 11:00
        | Начал смотреть сразу же, как ты написала
    .a-b.b: .messenger
      span.in
        span.time 10:30
        | У меня не получается войти в систему. Посмотришь в чем проблема?
      span.out
        span.time 10:30
        | Да, конечно. Напишу, как разберусь.
      span.in.emoji
        span.time 10:30
        | 👍

