.rule
  article
    h2: a(name="think", href="#think")
      | Обдумайте сообщение
    p
      | Не торопитесь отправлять сообщение. Тем самым, вы можете сэкономить время
      | себе и собеседнику.
    p
      | Если вы отвечаете на вопрос, убедитесь, что вы правильно его поняли.
      | Перечитайте полученное сообщение, если требуется.
      | Хорошо сформулируйте свой ответ.

    p.tip
      | Перечитайте свое сообщение перед отправкой. Обратите внимание на стиль текста, грамматику
      | и общую логичность.

    p.tip
      | Убедитесь, что вы отправляете сообщение нужному собеседнику.
      | Нередки ситуации, когда сообщения отправляются по ошибке.
  aside
    +good({
      out: 'Hi'
    }, {
      in: 'Hi'
    })
    +bad({
      out: 'Hi'
    }, {
      in: 'Hi'
    })
