article.rule
  .content
    h2: a(name="think-before-answer", href="#think-before-answer")
      | Обдумайте ответ
    p Не спешите отвечать на сообщение. Особенно, если оно вам не очень понятно.
    p Перечитайте сообщение, обдумайте ответ, запишите и перечитайте его.
    p Вы можете сэкономить время на дополнительных пояснениях, если сделаете обдуманный ответ.
  +sample()
