.rule
  article
    h2: a(name="use-emojis-with-care", href="#use-emojis-with-care")
      | Используйте эмодзи аккуратно
    p
      | Эмодзи или смайлики позволяют добавлять вашим сообщениям эмоциональный окрас.
    p
      | Их использование зачастую считается хорошим тоном.
      | И они также могут помочь вам выразить свои мысли более ясно.
    p
      | Однако стоит избегать чрезмерного использования эмодзи.
      | Большое количество разнообразных смайликов может запутывать собеседника,
      | раздражать и мешать воспринимать информацию.
  aside
    .a-b.a: .messenger
      span.out.default-time
        | Hi
      span.in.default-time
        | Hi
    .a-b.b: .messenger
      span.out.default-time
        | Hi
      span.in.default-time
        | Hi

