.messenger {
  padding: 10px;
  border-radius: 8px;
  display: grid;
  grid-gap: 5px;
  background-color: #333;

  > span {
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    min-width: 40px;
    max-width: 40%;

    &.in {
      background-color: #def;
      border-top-left-radius: 0;
    }

    &.out {
      margin-left: auto;
      background-color: #de8;
      border-bottom-right-radius: 0;
    }
  }
}
