.navbar {
  display: flex;
  padding: 5px 0;
  background-color: aquamarine;

  &-item {
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 4px;
  }
}
