include mixins/random

-
  var menu = [
    ['#be-respectful', 'Уважайте собеседника'],
    ['#check-grammar', 'Будьте грамотны'],
    ['#keep-it-short', 'Сохраняйте локаничность'],
    ['#think-before-answer', 'Обдумайте ответ'],
    ['#keep-it-simple', 'Используйте понятный язык'],
    ['#help-to-understand', 'Помогите понять вас'],
    ['#comment-on-attachments', 'Оставляйте свои комментарии к ссылкам'],
    ['#dont-chain-message', 'Не пишите сообщения цепочкой'],
    ['#express-intentions-clearly', 'Выражайте намерения явно'],
    ['#be-patient', 'Дайте время на ответ'],
    ['#remind-gently', 'Аккуратно напоминайте о себе'],
    ['#react', 'Оставляйте свою реакцию на сообщение'],
    ['#use-emojis-with-care', 'Используйте эмодзи аккуратно'],
    ['#quote-messages', 'Используйте ссылки на сообщения'],
    ['#indent-messages', 'Используйте отступы'],
    ['#format-messages', 'Форматируйте текст'],
    ['#mind-the-time', 'Не пишите поздно'],
    ['#business-texting', 'Деловая переписка'],
    ['#messenger-features', 'Полезный функционал мессенджеров'],
    ['#about', 'О проекте'],
  ]

doctype html
html(lang="ru-RU")
  head
    title Text Better
    meta(http-equiv="Content-Type" content="text/html; charset=utf=8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=cyrillic")
    link(rel="shorcut icon" href="favicon.ico")
    link(rel="stylesheet" href="index.css")

  body.dark
    header.header
      h1 Text Better
      button.btn.header__icon(onClick="document.body.classList.toggle('dark')")
        include static/icons/sun.svg

    nav.menu
      ul: each item in menu
        li: a(href=item[0])= item[1]

    main.rules-list
      include content/be-respectful
      include content/check-grammar
      include content/keep-it-short
      include content/think-before-answer
      include content/keep-it-simple
      include content/help-to-understand
      include content/comment-on-attachments
      include content/dont-chain-message
      include content/express-intentions-clearly
      include content/be-patient
      include content/remind-gently
      include content/react
      include content/use-emojis-with-care
      include content/quote-messages
      include content/indent-messages
      include content/format-messages
      include content/mind-the-time
      include content/business-texting
      include content/messenger-features
      include content/about
